html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.form-group {
  position: relative;
}

.validation {
  position: absolute;
  top: 100%;
  left: 20px;
  width: 100%;
}

#frenchVerb {
  font-size: 20px;
  animation: verbAnimation 2s 1;
}

@keyframes verbAnimation {
  0% {
    font-size: 50px;
  }

  100% {
    font-size: 20px;
  }
}

#result {
  font-size: 10px;
  animation: resultAnimation 3s 1;
}

@keyframes resultAnimation {
  0% {
    font-size: 10px;
  }

  50% {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
